

h2{
    color:black;
}
.container{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 70vh;
    width: 90%;
    border: 1px solid black;
    background-color: pink;
    margin-left: 5%;
   
}

.product{
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-color: aliceblue;
    border-width: 10px;
    max-width: 400px;
    margin-left: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    height: 60vh;
    width: 20%;
    border-radius: 5%;
}

.product:hover{
    background-color:grey;
}
.para{
    color:black;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}
.para1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
button{
    border: none;
    outline: 0;
    display:inline-block;
    padding:10px;
    background-color: black;
    background-color:white;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
    
}

button:hover{
    background-color:black;
    color:white;
}
img{
    width:100%;
    height: 20vh;
    padding:3px;
}
